@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.blocklyFlyoutScrollbar {
  display: none;
}

.blocklyToolboxDiv {
  @apply bg-slate-100 rounded-l-md;
}

.blocklyFlyoutBackground {
  /* slate-300 */
  fill: #cbd5e1;
}

.disabled {
  @apply opacity-70;
}

#console p {
  @apply bg-slate-200 rounded-md px-4 py-2;
}

#console p.error {
  @apply bg-red-200 text-red-700 font-bold;
}

#console p.interpreter {
  @apply bg-slate-300;
}

/* Remove number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputField {
  @apply bg-slate-100 rounded-md w-[400px] h-[400px] flex flex-wrap content-center justify-center duration-200;
}

.inputField.correct {
  @apply duration-200 bg-green-200;
}

.inputField.correct .squareButton {
  @apply duration-200 bg-green-400;
}

.inputField.correct #quizInput {
  @apply duration-200 bg-green-300;
}

.inputField.incorrect {
  @apply duration-200 bg-red-200;
}

.inputField.incorrect .squareButton {
  @apply duration-200 bg-red-400;
}

.inputField.incorrect #quizInput {
  @apply duration-200 bg-red-300;
}

.squareButton {
  @apply m-2 bg-slate-300 rounded-lg duration-300 ease-in-out active:bg-slate-500;
}

.squareButton.three {
  @apply w-[100px] h-[100px];
}

.squareButton.four {
  @apply w-[70px] h-[70px];
}

.squareButton.five {
  @apply w-[55px] h-[55px];
}

.squareButton.active {
  @apply duration-300 ease-in-out bg-primary;
}
