@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html,
body {
  height: 100%;
}

.blocklyFlyoutScrollbar {
  display: none;
}

.blocklyToolboxDiv {
  @apply bg-slate-100 rounded-l-md;
}

.blocklyFlyoutBackground {
  /* slate-300 */
  fill: #cbd5e1;
}

.disabled {
  @apply opacity-70;
}

#console p {
  @apply bg-slate-200 rounded-md px-4 py-2;
}

#console p.error {
  @apply bg-red-200 text-red-700 font-bold;
}

#console p.interpreter {
  @apply bg-slate-300;
}
