@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html,
body {
  height: 100%;
}

.blocklyFlyoutScrollbar {
  display: none;
}

.blocklyToolboxDiv {
  @apply bg-slate-100 rounded-l-md;
}

.blocklyFlyoutBackground {
  /* slate-300 */
  fill: #cbd5e1;
}
